/git-hooks
/examples
/samples
/docs
/coverage
/build
/test
/.pob.json
circle.yml
.codeclimate.yml
jsdoc.config.json

/plugins
/lib-node6-dev
/src
*.map

/.settings
/.project
/.idea
*.sublime-project
*.sublime-workspace

#*
*$
*.BAK
*.bak
*.log
*.old
*~
.#*
